.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.item-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.item-desc{
    display: flex;
    align-items: center;
}

.item-desc-aff{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.separate-line{
    height: 1px;
    width: 100%;
    background: rgb(145, 145, 145);
}

.item-desc img{
    width: 64px;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.item-title-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.item-title-desc>img{
    width: 64px;
    border-radius: 0.5rem;
}

a, a:hover, a:focus{
    text-decoration: none!important;
}

.bg-blue{
    background: rgb(5, 151, 219);
}

.w-15{
    width: 15%;
}